@import '../../utils/shared.scss';
@import '../../utils/shared.scss';
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

.knowledge {
	min-height: 100vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		@include sectionTitle('Knowledge');
		align-self: flex-start;
	}

	.knowledgeList {
		height: 40vh;
		margin-top: 4rem;
		width: 95%;
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: flex-start;
		gap: 2rem 3rem;
		list-style: none;
		flex-wrap: wrap;

		.knowledgeItem {
			width: 20%;
			height: 2.5rem;
			line-height: 1.5rem;
			gap: 0.8rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid $lightPurple;
			padding: 1rem;
			box-shadow: -5px 5px 10px 2px grey;
			transition: transform 0.25s ease-in-out;

			&:hover {
				transform: scale(1.05);
			}

			.text {
				font-size: 1.5rem;
				line-height: 1.7rem;
				font-family: $textFont;
				font-weight: bold;
				color: $darkPurple;
			}

			.icon {
				padding: 0;
				width: 50px;
				height: 50px;
			}
		}
	}

	.phrase {
		text-align: center;
		font-family: 'Croissant One', cursive;
		font-weight: bold;
		font-size: 1.7rem;
		color: $purple;

		div {
			font-size: 3rem;
		}
	}
}

@media screen and (max-width: 1500px) {
	.knowledge {
		align-items: fl;

		.knowledgeList {
			height: 45vh;

			.knowledgeItem {
				width: 25%;
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.knowledge {
		align-items: center;

		.knowledgeList {
			height: 55vh;
			align-items: flex-start;

			.knowledgeItem {
				width: 30%;
			}
		}

		.phrase {
			font-size: 1.5rem;

			div {
				font-size: 2rem;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.knowledge {
		.knowledgeList {
			margin-top: 2rem;
			height: 60vh;
			align-items: flex-start;

			.knowledgeItem {
				width: 35%;
			}
		}

		.phrase {
			font-size: 1.5rem;

			div {
				font-size: 2rem;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.knowledge {
		align-items: center;

		.knowledgeList {
			height: 60vh;
			align-items: flex-start;

			.knowledgeItem {
				width: 40%;
				padding: 0.5rem;
				height: 3rem;

				.text {
					font-size: 1.4rem;
				}
			}
		}

		.phrase {
			font-size: 1.6rem;
			width: 80%;

			div {
				font-size: 2rem;
			}
		}
	}
}

@media screen and (max-width: 460px) {
	.knowledge {
		align-items: center;

		.knowledgeList {
			height: 50vh;
			align-items: flex-start;
			margin-top: 1rem;

			.knowledgeItem {
				width: 25%;
				padding: 0.6rem;
				height: 2.5rem;

				.text {
					font-size: 1rem;
					display: none;
				}
			}
		}
	}
}
