@import '../../utils/variables.scss';
@import '../../utils/shared.scss';

.introduction {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	height: 70vh;
	width: 90vw;

	.introductionContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		.introductionText {
			font-size: 3rem;
			font-family: $textFont;
			display: inline-block;
			text-align: center;
			width: 100%;

			.name {
				color: $purple;
				font-family: $titleFont;
				font-weight: bold;
				font-size: 3.5rem;
				display: inline-block;
				text-align: center;
				width: 100%;
			}

			.occupation {
				font-size: 1.4rem;
				color: $purple;
				text-align: center;
				font-family: $titleFont;
			}
		}
		.moreLink {
			text-decoration: none;
			width: 40%;

			.moreButton {
				@include animatedButton;
				width: 100%;

				&:hover svg {
					translate: 8px 0;
					background: white;
				}
			}
		}
	}

	.gif {
		width: 500px;
		height: 350px;
	}
}

@media screen and (max-width: 1050px) {
	.introduction {
		.gif {
			width: 400px;
			height: 250px;
			margin-bottom: 5%;
		}
	}
}

@media screen and (max-width: 880px) {
	.introduction {
		gap: 2rem;
		.introductionContent {
			.moreLink {
				width: 60%;
			}
		}
		.gif {
			width: 300px;
			height: 200px;
			margin-bottom: 5%;
		}
	}
}

@media screen and (max-width: 750px) {
	.introduction {
		.introductionContent {
			.moreLink {
				width: 70%;
			}
		}

		.gif {
			display: none;
		}
	}
}
