@import '../../utils/shared.scss';
@import '../../utils/variables.scss';

.about {
	min-height: 100vh;
	font-family: $textFont;
	font-size: 1.5rem;
	background-image: url('/background.jpg');
	background-position: center;
	background-size: cover;

	h2 {
		@include sectionTitle('About me');
	}

	.aboutContent {
		display: flex;
		margin: 1rem;
		align-items: center;
		justify-content: flex-start;

		.aboutText {
			width: 70%;
			color: white;
			background-color: $darkPurple;
			padding: 2rem;
		}

		.location {
			font-family: $headerFont;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: baseline;
			gap: 1rem;
			margin: 3rem 0;
			font-size: 3rem;
			color: white;
		}

		.gif {
			width: 300px;
			height: 500px;
			border-radius: 50px;
		}
	}
}
