@import '../../utils/variables.scss';
@import '../../utils/shared.scss';

.about {
	min-height: 100vh;
	height: 100vh;
	font-family: $textFont;
	font-size: 1.6rem;
	background-image: url('/images/background.jpg');
	background-position: center;
	background-size: cover;

	h2 {
		@include sectionTitle('About me');
	}

	.aboutContent {
		display: flex;
		height: 75vh;
		margin: 1rem;
		align-items: center;
		justify-content: flex-start;

		.aboutText {
			width: 70%;
			color: $font;
			background-color: $darkprimary;
			padding: 2rem;
			z-index: 0;
		}

		.cvLink {
			text-decoration: none;
			font-family: $titleFont;

			.cvButton {
				@include animatedButton;
				font-weight: bold;
				width: 30%;
				height: 4rem;
				margin: 2rem auto;

				&:hover svg {
					transform: translate(0px, 5px);
				}
			}
		}
	}
}

@media screen and (max-width: 1650px) {
	.about {
		.aboutContent {
			.aboutText {
				margin: auto;
				width: 90%;
				height: 80%;
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.about {
		.aboutContent {
			.aboutText {
				width: 95%;
				height: 85%;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.about {
		font-size: 1.4rem;

		.aboutContent {
			.aboutText {
				width: 95%;
				height: 80%;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.about {
		font-size: 1.3rem;

		.aboutContent {
			.aboutText {
				width: 95%;
				height: 90%;
			}
			.cvLink {
				.cvButton {
					width: 70%;
					height: 3rem;
					font-size: 1.2rem;
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.about {
		font-size: 1.2rem;
		width: 100%;

		.aboutContent {
			margin-top: 0;
			height: 85%;

			.aboutText {
				height: 90%;
				padding: 1rem;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.about {
		font-size: 1rem;

		.aboutContent {
			height: 90%;

			.cvLink {
				.cvButton {
					width: 70%;
					height: 3rem;
					font-size: 1rem;
				}
			}
		}
	}
}

@media screen and (max-width: 350px) {
	.about {
		.aboutContent {
			height: 85%;

			.cvLink {
				display: none;
			}
		}
	}
}
