@import '../../utils/variables.scss';
@import '../../utils/shared.scss';

.about {
	min-height: 100vh;
	height: 100vh;
	font-family: $textFont;
	background-image: url('/images/background.jpg');
	background-position: center;
	background-size: cover;

	h2 {
		@include sectionTitle('About me');
	}

	.aboutContent {
		height: 60%;
		width: 70%;
		background-color: $darkprimary;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: auto;
		padding: 0 1rem;

		.aboutText {
			width: 100%;
			color: $font;
			font-size: 1.7rem;
		}

		.cvLink {
			text-decoration: none;
			font-family: $titleFont;
			width: 30%;
			z-index: 0;

			.cvButton {
				@include animatedButton;
				font-size: 1.2rem;
				font-weight: bold;
				width: 100%;
				height: 3rem;
				margin: 2rem auto;

				&:hover svg {
					transform: translate(0px, 5px);
				}
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.about {
		.aboutContent {
			height: 70%;

			.aboutText {
				width: 100%;
				color: $font;
				font-size: 1.5rem;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.about {
		.aboutContent {
			height: 80%;
			width: 90%;

			.aboutText {
				font-size: 1.4rem;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.about {
		.aboutContent {
			height: 75%;
			width: 90%;

			.aboutText {
				font-size: 1.3rem;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.about {
		.aboutContent {
			.cvLink {
				width: 40%;

				.cvButton {
					font-size: 1.2rem;
				}
			}

			.aboutText {
				font-size: 1.2rem;
			}
		}
	}
}

@media screen and (max-width: 460px) {
	.about {
		.aboutContent {
			height: 65%;
			.aboutText {
				font-size: 1.1rem;
			}
			.cvLink {
				width: 60%;
				.cvButton {
					font-size: 1rem;
				}
			}
		}
	}
}

@media screen and (max-width: 380px) {
	.about {
		.aboutContent {
			height: 85%;
		}
	}
}

@media screen and (max-width: 300px) {
	.about {
		.aboutContent {
			height: 85%;

			.cvLink {
				display: none;
			}
		}
	}
}
