@import '../../utils/shared.scss';

.contact {
	height: 100vh;

	h2 {
		@include sectionTitle('Contact');
	}
	.contactContent {
		margin: auto;
		height: 80%;
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $primary;
		border-radius: 25px;
		overflow: hidden;

		.decoration {
			flex-grow: 1;
			height: 100%;
			background-image: url('/images/decoration.png');
			background-position: center;
			background-size: cover;
		}

		.contactForm {
			width: 60%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
			font-family: $textFont;
			background-color: $darkprimary;

			.textInput {
				width: 80%;
				height: 1.9rem;
				border: none;
				outline: none;
				margin-top: 0.4rem;
				padding: 0.3rem;
				font-size: 1.1rem;
				font-family: $textFont;
				background-color: transparent;
				border-bottom: 2px solid white;
				color: $font;
				font-weight: bold;

				&::placeholder {
					padding: 0.1rem;
					color: $font;
					font-weight: bold;
				}
			}

			.textArea {
				width: 80%;
				margin-top: 1rem;
				height: 300px;
				padding: 0.3rem;
				resize: none;
				border: none;
				outline: none;
				font-size: 1.1rem;
				font-family: $textFont;
				overflow: hidden;
				color: black;
				border: 2px solid $darkprimary;
				background-color: white;
				border-radius: 7px;

				&::placeholder {
					padding: 0.1rem;
					color: $primary;
				}

				&:focus {
					outline: 2px solid $primary;
				}
			}
			a {
				display: none;
			}

			.sendButton {
				width: 25%;
				height: 2.8rem;
				margin: 1rem;
				border: 2px solid $primary;
				background-color: white;
				outline: none;
				color: $primary;
				font-weight: bold;
				font-size: 1.1rem;
				cursor: pointer;
				border-radius: 10px;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.contact {
		background-image: url('/images/background.jpg');
		background-position: center;
		background-size: cover;
		.contactContent {
			.decoration {
				display: none;
			}
			.contactForm {
				width: 100%;

				.textInput {
					width: 95%;
					font-size: 1rem;
				}

				.submitInput {
					width: 35%;
				}

				.textArea {
					width: 95%;
					font-size: 1rem;
				}
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.contact {
		.contactContent {
			width: 95%;
			height: 65%;
			margin-top: 3rem;

			.contactForm {
				width: 100%;
				padding: 0.5rem;

				.submitInput {
					width: 50%;
				}
				.textArea {
					height: 200px;
				}
			}
		}
	}
}
