@import '../../utils/variables.scss';

.header {
	padding: 1rem 0;
	width: 100%;
	min-height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $purple;

	.title-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 2.5rem;

		.title {
			font-size: 2.5rem;
			color: white;
			font-family: $headerFont;
			transition: transform 0.2s ease-in-out;
			position: relative;

			&::before {
				content: 'Matias Gimenez';
				color: transparent;
				position: absolute;
				display: inline-block;
				height: 3px;
				bottom: 0;
				left: 0;
				background-color: white;
				transform: scaleX(0);
				transition: transform 0.5s ease;
			}

			&:hover::before {
				transform: scaleX(1);
			}
		}

		.logo {
			width: 100px;
			height: 100px;
			margin-left: 1rem;
		}
	}
}
