@import './variables.scss';

@mixin sectionTitle($title) {
	font-family: $titleFont;
	padding: 1rem;
	font-size: 3rem;
	color: $purple;
	position: relative;

	&::before {
		content: $title;
		color: transparent;
		position: absolute;
		display: inline-block;
		height: 3px;
		bottom: 12px;
		left: 30px;
		background-color: $purple;
		transform: scaleX(0);
		transition: transform 0.6s ease;
	}

	&:hover::before {
		transform: scaleX(1);
	}
}
