@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@400;500&display=swap');

$purple: #3f007e;
$darkPurple: #2f0558;
$lightPurple: #a37dc9;
$link: #cba6ef;
$headerFont: 'Montserrat Subrayada', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$textFont: 'Varta', sans-serif;
