@import '../../utils/variables.scss';

@mixin socials($section) {
	$padding: 0.6rem 0 0 0;
	$margin: 0;
	$fontSize: 1.8rem;

	@if ($section == 'introduction') {
		$padding: 0.8rem 1.5rem;
		$margin: 2rem 1.2rem;
		$fontSize: 2.2rem;
	}

	.socials-#{$section} {
		width: 80%;
		color: $font;
		margin: $margin;
		font-size: $fontSize;
		padding: $padding;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.6rem;
		background-color: $darkprimary;

		a {
			text-decoration: none;
			color: $font;
			transition: transform 0.2s ease-in-out;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				transform: scale(1.1);
			}
		}

		.mail {
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			color: $font;
			font-size: 2rem;
			cursor: copy;
			transition: transform 0.2s ease-in-out;

			&:hover {
				transform: scale(1.1);
			}
		}

		@media screen and (max-width: 400px) {
			width: 60%;
			margin: 3rem auto;
		}
	}
}

@include socials('introduction');
@include socials('footer');
