@import '../../utils/variables.scss';

@mixin socials($color) {
	$bgcolor: white;
	$textcolor: $purple;

	@if ($color == 'purple') {
		$bgcolor: $purple;
		$textcolor: white;
	}

	.socials-#{$color} {
		width: 80%;
		color: $textcolor;
		margin: 2rem 1.2rem;
		font-size: 2rem;
		padding: 1rem 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.2rem;
		background-color: $bgcolor;

		a {
			text-decoration: none;
			color: $textcolor;
			transition: transform 0.2s ease-in-out;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				transform: scale(1.1);
			}
		}

		.mail {
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			color: $textcolor;
			font-size: 2rem;
			cursor: copy;
			transition: transform 0.2s ease-in-out;

			&:hover {
				transform: scale(1.1);
			}
		}

		@media screen and (max-width: 400px) {
			width: 60%;
			margin: 3rem auto;
		}
	}
}

@include socials('purple');
@include socials('white');
