@tailwind base;
@tailwind components;
@tailwind utilities;

.figure-shadow {
	box-shadow: 3px 3px 6px 0 rgba(73, 80, 87, 0.5);
}

.swap {
	transition: transform 0.5s ease;
}

.swap:active {
	transform: rotateZ(25deg);
}

.loading-spinner-light {
	width: 50px;
	margin: auto;
	margin-top: 2rem;
	height: 50px;
	border: 8px solid #f3f3f3;
	border-top: 10px solid #343a40;
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
}

.loading-spinner-dark {
	width: 50px;
	margin: auto;
	margin-top: 2rem;
	height: 50px;
	border: 8px solid #343a40;
	border-top: 10px solid #f3f3f3;
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
